{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<section class="main">
    <div class="main-inner">
        <div class="content">
            {{#foreach posts}}
                <article class="widget">
                    <header class="widget-header">
                        <h2 class="widget-title">
                        <a href="{{url}}">{{{title}}}</a>
                    </h2>
                        <div class="widget-meta">
                            <span>{{date format='DD-MM-YYYY'}}</span>
                        </div>
                        <div class="hr-line"></div>
                    </header>
                    <section class="widget-body">
                    {{excerpt}}
                    </section>
                    <section class="widget-footer">
                        <a class="btn" href="{{url}}">Continue reading</a>
                    </section>
                </article>
            {{/foreach}}

            {{pagination}}
        </div>
    </div>
</section>
